body{
    margin: 0%;
    padding: 0%;
    font-family: fantasy;
    background-color: rgb(230, 179, 127);
 }

 .encabezado{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
 }
 .img-logo{
    width: 90px;
 }
 .categorias{
   
 }


.categories{
    margin: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;


}



.imagen{
    border-radius: 20px;  
    margin: 10px;
}

footer{
background-color: rgba(49, 17, 4, 0.783);
height: 300px;
display: grid;
align-items: end;

}
.pie-de-pag{
    display: flex;
    justify-content:space-evenly;
    align-items:end;
}
.ddhh{
    font-size: small;
    text-align: center;
    margin: 0%;
    padding: 0%;
    
}
.redes{
    width:10px;
}
.imagen-redes{
    width: 50px;
}

/*Carousel*/
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
#conteItemCarrucel{
    height: 500px;
    overflow: hidden;
    margin: 10px;

   }
.itemCarrucel{
    height: 500px;
    position: relative;
}
.tarjetaCarrucel{
    background-color: rgb(224, 113, 39);
    height: 100%;
    border-radius: 15px;
}

.flechasCarrucel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
 .flechasCarrusel  a{
    text-decoration: none;
   }

   i{
    color: rgba(0, 0, 0, 0.743);
    font-size: 50px;
   }
   
   .img-carrusel{
    width: 100%;
    height: 100%;
    border-radius: 10px;
   }

   /*formulario*/
   
.contact_form{
    margin: 80px;
    border-radius: 30px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: rgb(158, 111, 63);
    padding-left: 30px; 
  }
  
  .formlario{
    display: contents;
  }
  
  input{
    background-color: #eac287; 
    width: 400px; 
    height: 40px; 
    border-radius: 5px;  
    border-color: #1f0d02;
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #eac287; 
    width: 400px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #1f0d02;
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #de6d26; 
    border-color: #1f0d02; 
    border-style: solid; 
    border-radius: 10px;  
    width: 400px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: #ab4493; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }  
  
  h2{ 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  p{
    font-size: 14px; 
    color: #0e0e0e; 
  }
  .contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
 