
body{
    margin: 0%;
    padding: 0%;
    font-family: fantasy;
    background-color: rgb(230, 179, 127);
 }

 .encabezado{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
 }
 .img-logo{
    width: 90px;
 }
 footer{
    background-color: rgba(49, 17, 4, 0.783);
    height: 300px;
    display: grid;
    align-items: end;
    
    }
    .pie-de-pag{
        display: flex;
        justify-content:space-evenly;
        align-items:end;
    }
    .ddhh{
        font-size: small;
        text-align: center;
        margin: 0%;
        padding: 0%;
        
    }
    .redes{
        width:10px;
    }
    .imagen-redes{
        width: 50px;
    }

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-zapatos{
        width: 50%;
        height: 50%;
        margin: 20px; 
    }
    h2{
        text-align: center;
    }


