*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
#conteItemCarrucel{
    height: 200px;
    overflow: hidden;
   }
.itemCarrucel{
    height: 400px;
    position: relative;
}
.tarjetaCarrucel{
    background-color: rgb(224, 113, 39);
    height: 100%;
}

.flechasCarrucel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
   a{
    text-decoration: none;
   }
   i{
    color: black;
   }
   #contePuntos{
     display: flex;
    justify-content: space-around;
   }
   #contePuntos > a{
    font-size: 1sem;

   }
   img{
    width: 100%;
    height: 100%;
   }